<div class="row">
  <div class="col-12 col-sm-6">
    <h3 class="mb-3 header-funky-simple" id="test-header">
      {@test.title}
    </h3>
    <div class="alert alert-info">
      {dgettext("test", "This test requires a password.")}
    </div>

    <%= if assigns[:error_message] do %>
      <div class="alert alert-danger">
        {@error_message}
      </div>
    <% end %>

    <.form
      :let={f}
      for={@conn}
      method="POST"
      phx-submit={~p"/auth/#{@test.slug}"}
    >
      <input
        type="hidden"
        id={Phoenix.HTML.Form.input_id(f, :referer)}
        name={Phoenix.HTML.Form.input_name(f, :referer)}
        value={~p"/test/#{@test.slug}"}
      />
      <input
        type="hidden"
        name="_csrf_token"
        value={get_csrf_token()}
      />
      <div class="mb-3">
        <.input
          field={f[:password]}
          type="password"
          label={dgettext("test", "Password:")}
          required
        />
        {error_tag(f, :password)}
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary px-4"
        >
          {dgettext("test", "Verify")}
        </button>
      </div>
    </.form>
  </div>
</div>
