<html>
  <body style="background-color: #303030; padding:50px;">
    <div
      style="border:1px solid #c44811; color: #c44811; padding: 25px; margin: auto; width: 350px; text-align: center"
      role="alert"
    >
      Internal server error :(
    </div>
  </body>
</html>