
.homepage-image {
  -webkit-box-shadow: 0px 0px 13px -1px rgba(255,249,242,0.1);
  box-shadow: 0px 0px 13px -1px rgba(255,249,242,0.1);

  &:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(255,249,242,0.2);
    box-shadow: 0px 0px 13px 0px rgba(255,249,242,0.2);
  }
}

.home-gallery-test {
  width: 400px;
  background-color: $really-darker;
  color: $home-gallery-text;

  .home-gallery-test-title {
    font-size: 0.813rem;
  }
}

.homepage-sublink {
  color: $gray-600;

  a {
    color: $gray-600;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
