$white: #f8f8f8;
$black: #1e1610;

$primary: #c44811;
$secondary: #583247;
//$secondary: #7f4601;
$dark: #444;

$info: #006b79;

$body-bg: $black;
$body-color: $white;

$navbar-light-color: $white;


$footer-text: #888;


$track-bg-color: #303030;

$track-active-bg-color: #097287;

$form-unit-bg-color: #303030;

$test-description-bg: #303030;
