$white: #f8f8f8;
$black: #150f0b;

$primary: #c44811;
$secondary: #583247;
//$secondary: #7f4601;
$dark: #444;
$darker: #303030;
$info: #00606e;
$light: #bdaa24;
$light-bright:  #ffea85;

// $text-muted: #444444;

$body-bg: $black;
$body-color: $white;

$navbar-light-color: $white;

$dropdown-divider-bg: $white;
$footer-text: #505050;

$track-bg-color: #303030;

$track-active-bg-color: #097287;
$track-active-text-muted: darken($white, 10%) !important;

$track-picked-color: $light-bright;

$track-star-hover: $light;
$track-star-rated: $light;
$track-star-rated-hover: $light-bright;

$form-unit-bg-color: $darker;

$test-description-bg: $darker;

$gallery-test-bg-color: $darker;
$gallery-test-by-bg-color: $dark;
