footer {
  font-size: 0.688rem;
  color: $footer-text;

  padding: 5px 0;

  a {
    color: $footer-text;
    text-decoration: none;

    &:hover,
    &:focus {
      color: lighten($footer-text, 10%);
      text-decoration: underline;
    }
  }

  .gb-flag--micro {
    height: 15px;
  }

  .gb-flag {
    filter: grayscale(50%);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;

    &:hover {
      filter: grayscale(0);
    }
  }
}
