.fs-7 {
  font-size: 0.813rem;
}
.fs-8 {
  font-size: 0.75rem;
}

.cursor-link {
  cursor: pointer;
}

.alert-thin {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.813rem;
}

.header-jazz {
  font-family: jazz, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-royal {
  font-family: royalacid, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-airstream {
  font-family: royalacid, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-typographica {
  font-family: typographica, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-chemyretro {
  font-family: chemyretro, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-retroica {
  font-family: retroica, Arial, sans-serif, cursive;
  font-weight: normal;
}
