.gallery-test {
  width: 250px;
  height: 350px;

  @include media-breakpoint-up(sm) {
    width: 250px;
  }

  background-color: $gallery-test-bg-color;

  .gallery-test-title {
    background-color: $primary;

    a {
      //font-size: 0.875rem;
      text-decoration: none;

      &:hover,
      &:focus {
        //text-decoration: underline;
      }
    }
  }

  .gallery-test-by {
    font-size: 0.75rem;
    background-color: $gallery-test-by-bg-color;
  }

  .gallery-test-description {
    font-size: 0.813rem;
    overflow-y: hidden;
  }

  .gallery-test-taken {
    background-color: $gallery-test-taken-bg-color;
    font-size: 0.875rem;
  }
  .gallery-test-link {
    background-color: $gallery-test-link-bg-color;
    padding-bottom: 0.40rem !important;

    a {
      font-size: 0.875rem;
      text-decoration: none;

      &:hover,
      &:focus {
        //text-decoration: underline;
      }
    }
  }

}
