.test-description {
  background-color: $test-description-bg;
  border-radius: 5px;

  p:last-child {
    margin-bottom: 5px;
  }
}

.btn-play {
  letter-spacing: 0.08rem;
}

.test-pick-chosen {
  color: $track-picked-color;
}
