.test-tracklist {
  overflow-y: scroll;
}

.test-description, .test-tracklist-bg {
  background-color: $test-description-bg;
  border-radius: 5px;

  p:last-child {
    margin-bottom: 5px;
  }
}

.test-tracklist, .test-tracklist-bg {
  .test-tracklist-one {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 5px;
  }
}

  .btn-play {
    letter-spacing: 0.08rem;
  }

  .test-pick-chosen {
    color: $track-picked-color;
  }

  .test-starring {
    i {
      cursor: pointer;

      &:hover {
        color: $track-star-hover;
      }
    }

    i.bi-star-fill {
      color: $track-star-rated;

      &:hover {
        color: $track-star-rated-hover;
      }
    }
  }

  .test-starring-result {
    i.bi-star-fill {
      color: $track-star-rated;
    }
  }
}
