.tracks {
  .track {
    min-height: 55px;
    @include media-breakpoint-up(md) {
      height: 55px;
    }

    background-color: $track-bg-color;

    &.track-reference {
      background-color: darken($track-bg-color, 5%);
    }

    .track-loading-indicator {
      position: absolute;
      top: 10px;
      min-width: 100px;
    }

    &.track-active {
      background-color: $track-active-bg-color;

      .text-muted, .text-body-secondary {
        color: $track-active-text-muted;
      }

      .btn-track-active {
        background-color: $track-active-hover-bg-color;
        border-color: darken($track-active-hover-bg-color, 5%);

        &:hover {
          background-color: darken($track-active-hover-bg-color, 5%);
        }
      }

      &.track-reference {
        .btn-track-active {
          background-color: darken($track-active-hover-bg-color, 5%);
          border-color: darken($track-active-hover-bg-color, 10%);
        }
      }
    }
  }

  .waveform-wrapper {
    height: 45px;
  }

  .track-guess {
    height: 35px;
    background-color: transparent;
  }

  .track-wrong {
    color: red;
  }

  .track-correct {
    color: green;
  }
}

.waveform-canvas {
  height: 50px;
  //width: 100%;

  //border: 1px solid red;

  //padding-top: 7px;
}
