import Config

config :funkyabx, FunkyABX.Repo,
  url: "postgres://login:password@ip:port/funkyabx_dev"

config :ex_aws,
  access_key_id: "",
  secret_access_key: ""

config :ex_aws, :s3,
  region: "",
  scheme: "https://",
  host: ""

config :funkyabx,
  bucket: "",
  disqus_id: "",
  cdn_prefix: System.get_env("CDN_PREFIX") || "http://localhost:4000/uploads/",
  email_from: System.get_env("EMAIL_FROM") || "noreply@yourdomain.com",
  email_to: System.get_env("EMAIL_TO") || "contact@yourdomaine.com",
  flac_folder: "your_path/priv/static/uploads/flac/",
  temp_folder: "your_path/priv/static/uploads/temp/"
