<footer class="footer mt-auto">
  <div class="container text-center">
    ©2021-{DateTime.utc_now().year}
    <a target="_blank" href="http://www.funkybits.fr">FunkyBits</a>
    - <a href={~p"/about"}>{dgettext("site", "About")}</a>
  </div>
</footer>
