<div class="mt-5 mb-4">
  <a target="_blank" href="https://www.gearpix.app">
    <img
      src={~p"/images/sponsor.png"}
      class="d-block mx-lg-auto img-fluid"
      alt={dgettext("site", "GearPix")}
      loading="lazy"
    />
  </a>
</div>
