<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="ABX & audio blind tests" suffix=" · FunkyABX">
      {assigns[:page_title]}
    </.live_title>
    <link
      phx-track-static
      rel="stylesheet"
      href={~p"/assets/app.css" <> get_release_version_query_string()}
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js" <> get_release_version_query_string()}
    >
    </script>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" id="favicon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body class="d-flex flex-column h-100 py-2">
    <a id="top"></a>

    {@inner_content}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    >
    </script>

    <%= if !is_nil(Application.fetch_env!(:funkyabx, :analytics)) do %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script
        async
        src={"https://www.googletagmanager.com/gtag/js?id=#{Application.fetch_env!(:funkyabx, :analytics)}"}
      >
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Application.fetch_env!(:funkyabx, :analytics) %>');
      </script>
    <% end %>
  </body>
</html>
