<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Welcome", suffix: " · FunkyABX" %>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" id="favicon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">FunkyABX&nbsp;<sup style="font-size: 0.75; font-family:Lato, Roboto, Arial">beta</sup></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header pe-4" style="border-bottom: 1px solid #444;">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body pt-1">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.test_new_path(@conn, FunkyABXWeb.TestFormLive)}>New test</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={Routes.page_path(@conn, :gallery)}>Gallery</a>
              </li>
              <%= render "_tests_menu.html", assigns %>
              <%= render "_user_menu.html", assigns %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href={Routes.page_path(@conn, :contact)}>Contact</a></li>
                  <li><a class="dropdown-item" href={Routes.page_path(@conn, :about)}>About</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </nav>

    <a id="top"></a>

    <%= @inner_content %>

    <footer class="footer mt-auto">
        <div class="container text-center">
          ©2021-<%= DateTime.utc_now.year %> <a target="_blank" href="http://www.funkybits.fr">FunkyBits</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <%= if !is_nil(Application.fetch_env!(:funkyabx, :analytics)) do %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src={"https://www.googletagmanager.com/gtag/js?id=#{Application.fetch_env!(:funkyabx, :analytics)}"}></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Application.fetch_env!(:funkyabx, :analytics) %>');
      </script>
    <% end %>
  </body>
</html>
