<div class="row">
  <div class="col-12 col-sm-6">
    <h3 class="mb-3 header-typographica" id="test-header">
      <%= @test.title %>
    </h3>
    <div class="alert alert-info">
      This test requires a password.
    </div>

    <%= if assigns[:error_message] do %>
      <div class="alert alert-danger">
        <%= @error_message %>
      </div>
    <% end %>

    <%= form_for @conn, Routes.test_path(@conn, :password, @test.slug), fn f -> %>
      <%= hidden_input f, :referer, value: Routes.test_public_path(@conn, FunkyABXWeb.TestLive, @test.slug) %>
      <div class="mb-3">
        <%= label f, :password, "Password:", class: "form-label"  %>
        <%= password_input f, :password, required: true, class: "form-control" %>
        <%= error_tag f, :password %>
      </div>
      <div class="mb-3">
        <%= submit "Verify", class: "btn btn-primary px-4" %>
      </div>
    <% end %>
  </div>
</div>
