.fs-7 {
  font-size: 0.938rem;
}

.fs-8 {
  font-size: 0.813rem;
}

.fs-9 {
  font-size: 0.75rem;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.text-extra-muted {
  color: $dark;
}

.cursor-link {
  cursor: pointer;
}

.alert-thin {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.813rem !important;
}

.header-barqish {
  font-family: barqish, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-typographica {
  font-family: typographica, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-funky {
  font-family: funky-regular, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-funky-simple {
  font-family: funky-simple, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-chemyretro {
  font-family: chemyretro, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-texgyreadventor {
  font-family: texgyreadventor, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-neon {
  font-family: neon, Arial, sans-serif, cursive;
  font-weight: normal;
}

a.test-link {
  font-weight: bold;
  text-decoration: none !important;
}

a.back-link {
  font-size: 0.75rem;
  color: rgba($white, .5);
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

button.link-no-decoration, a.link-no-decoration {
  text-decoration: none !important;

/* &:hover {
    text-decoration: underline !important;
  } */
}

// for live view compat

.hidden {
  display: none;
}

#disconnected {
  display: none;
}

.phx-error.phx-client-error {
  #disconnected, #toast-disconnected {
    display: block !important;
  }
}


