.fs-7 {
  font-size: 0.938rem;
}

.fs-8 {
  font-size: 0.813rem;
}

.fs-9 {
  font-size: 0.75rem;
}

.text-extra-muted {
  color: $dark;
}

.cursor-link {
  cursor: pointer;
}

.alert-thin {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.813rem !important;
}


.header-barqish {
  font-family: barqish, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-typographica {
  font-family: typographica, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-chemyretro {
  font-family: chemyretro, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-texgyreadventor {
  font-family: texgyreadventor, Arial, sans-serif, cursive;
  font-weight: normal;
}

.header-neon {
  font-family: neon, Arial, sans-serif, cursive;
  font-weight: normal;
}

a.test-link {
  font-weight: bold;
  text-decoration: none !important;
}
